.widget {
    width: 600px;
}

    .widget svg, .widget canvas {
        border-radius: 50px;
        width: 100%;
        border: 3px solid rgb(204, 255, 0);
    }

    .widget .tip-history {
        font-size: 36px;
        font-weight: bold;
        text-align: right;
    }

        .widget .tip-history .tip-msg {
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 20px;
            margin-bottom: 4px;
            display: flex;
            padding: 5px 30px;
            line-height: 45px;
        }

            .widget .tip-history .tip-msg > small {
                font-size: 16px;
                font-weight: normal;
                text-overflow: ellipsis;
                text-align: left;
            }

            .widget .tip-history .tip-msg > div {
                flex-grow: 1;
                white-space: nowrap;
            }

    .widget .qr-loading {
        filter: blur(5px);
    }
