.widget {
    width: 300px;
}

.widget svg, .widget canvas {
    border-radius: 50px;
    width: 100%;
}

.widget .tip-history {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

    .widget .tip-history .tip-msg small {
        font-size: 12px;
        font-weight: normal;
    }

    .widget .qr-loading {
        filter: blur(5px);
    }