.widget {
    width: 600px;
}

.widget svg, .widget canvas {
    border-radius: 50px;
    width: 100%;
    border: 3px solid yellow;
}

.widget .tip-history {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

    .widget .tip-history .tip-msg small {
        font-size: 20px;
        font-weight: normal;
    }

    .widget .qr-loading {
        filter: blur(5px);
    }